tbody {
    font-size: .9rem;
}

.align-right-overview {
    text-align: right;
    font-weight: bold;
}

.balance {
    color: #ff9900;
    font-weight: bold;
    padding: 15px;
}

.borders {
    border-left: solid 1px #d9d9d9;
    border-right: solid 1px #d9d9d9;
}

table {
    background-color: #fff;
}

.division {
    border-left: solid 1px #d9d9d9;
}

.active {
    color: #00e673;
}